body {
  margin:0px;
  padding:0px;
  width:100%;
}


.landingcontent {
  /* height: 100vh; */
  height: 100%;
  width: 100%;
}

.explore {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  font-family: Montserrat, Helvetica, Arial, sans-serif;

  /* color: white;
  mix-blend-mode: difference; */
  z-index: 10;
}

.exploreText {
  /* margin-top: 30vh; */
  position: absolute;
  margin-top: -20vh;
  font-size: 44px;
  text-align: center;
  color: white;
  font-weight: bold;

}

.exploreText:hover {
  /*background-color: white;
  color: white;
  transition: all 0.3s ease-in-out;*/
}

.exploreSubText {
  position: absolute;
  margin-top: -13vh; 
  /*margin-top: -15vh;*/
  font-size: 21px;
  text-align: center;
}

.arrowImg {
  position: relative;
  z-index: -25;
  height: 130px;
  width: 60px;
  left: -290px;
  bottom: 10px;
}

.noteText {
  position: relative;
  color: white;
  font-size: 15px;  
}

.thanksText {
  position: absolute;
  /*margin-top: -15vh;*/
  bottom: 9%;
  font-size: 12px;
  text-align: center;
}

.mainContentWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  color: white;
  /*background: rgba(30, 30, 30, 0.25);*/
}

.backgroundImage {
  position: absolute;
  z-index: -2;
  height: 100%;
  width: 100%;
}

.btn-group button {
  margin-top: -10vh;
  /*background-color: #4CAF50; /* Green background */
  /*border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  font-family: Montserrat, Helvetica, Arial, sans-serif;

  color: white;
  background-color: transparent;
  border-bottom-color: transparent;
  border-top-color: transparent;

  transition: all 0.3s ease-in-out;

  border-style: double;
}

.btn-group button:hover {
      background-size: 75% 100%;

  background-color: white;
  color: #434444;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 16px;

  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    /*box-shadow: 5px 10px;*/

  padding: 40px 16px;
  bottom: -80px;
  z-index: 1;


  background-color: transparent;
  color: white;
  
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.btn-group button:hover ~ .dropdown-content {
  visibility: visible;
  display: block;
}

.dropdown {
  position: relative;
  display: inline-block;
}



.text-group p {
  /*background-color: #4CAF50; /* Green background */
  /*border: 1px solid green; /* Green border */
  color: black; /* White text */
  padding: 10px 24px; /* Some padding */
  float: left; /* Float the buttons side by side */
  font-family: Montserrat, Helvetica, Arial, sans-serif;

  color: black;
  background-color: transparent;
  border-bottom-color: transparent;
  border-top-color: transparent;

  transition: all 0.3s ease-in-out;
  visibility: hidden;

  border-style: double;
}

.text-group:hover btn-group{
  visibility: visible;
  background-color: white;
  color: white;
}

/*
.btn-group span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn-group button:hover span {
  padding-right: 25px;
}*/
