#loader{
        position:absolute;
        position:fixed;
        z-index:999999;
        left:0;
        top:0;
        bottom:0;
        background-color:#FFFFFF;
        right:0;
        visibility:visible;
}

#loader *{
        visibility:visible;
}

#loader #spin {
        position: absolute;
        top:50%;
        left:50%;
}

@font-face {
    font-family: 'typeIconFont';
    src: url('/bundles/quickyformadmin/css/fonts/typeform_glyphs.eot');
    src: url('/bundles/quickyformadmin/css/fonts/typeform_glyphs.eot?#iefix') format('embedded-opentype'),
         url('/bundles/quickyformadmin/css/fonts/typeform_glyphs.woff') format('woff'),
         url('/bundles/quickyformadmin/css/fonts/typeform_glyphs.ttf') format('truetype'),
         url('/bundles/quickyformadmin/css/fonts/typeform_glyphs.svg#typeform_glyphs') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'keyboard';
    src: url('/bundles/quickyformadmin/css/fonts/keyboard.eot');
    src: url('/bundles/quickyformadmin/css/fonts/keyboard.eot?#iefix') format('embedded-opentype'),
         url('/bundles/quickyformadmin/css/fonts/keyboard.woff') format('woff'),
         url('/bundles/quickyformadmin/css/fonts/keyboard.ttf') format('truetype'),
         url('/bundles/quickyformadmin/css/fonts/keyboard.svg#keyboard') format('svg');
    font-weight: normal;
    font-style: normal;
}

</style>

<!--[if lte IE 8]>
<style>
#ie8 {
        display:block;
        background: #000000;
        color:#FFF;
        font-size:11px;
        text-align: center;
        position: absolute;
        padding: 10px;
        top: 0;
        left: 0;
        right: 0;
}

#ie8:before {
        content: 'You're viewing this typeform in "simple" mode.<br/>This is because your device is not yet supported by Typeform. ';
}

</style>
<![endif]-->


<link id="font" href="./General report - ricedrugpolicyresearch_files/css" rel="stylesheet" type="text/css">
                                <link rel="stylesheet/less" href="https://anthony311.typeform.com/reportless/15926635"><style type="text/css" id="less:reportless-15926635">.ellipsis {
display: block;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
-o-text-overflow: ellipsis;
-ms-text-overflow: ellipsis;
}
.no-ellipsis {
display: block;
white-space: normal;
overflow: auto;
text-overflow: clip;
-o-text-overflow: clip;
-ms-text-overflow: clip;
}
.clear {
clear: both;
}
@font-face {
font-family: 'ReklameScriptRegular';
src: url('/bundles/quickyformadmin/css/fonts/reklamescript-regular.eot');
src: url('/bundles/quickyformadmin/css/fonts/reklamescript-regular.eot?#iefix') format('embedded-opentype'), url('/bundles/quickyformadmin/css/fonts/reklamescript-regular.woff') format('woff'), url('/bundles/quickyformadmin/css/fonts/reklamescript-regular.ttf') format('truetype'), url('/bundles/quickyformadmin/css/fonts/reklamescript-regular.svg#ReklameScriptRegular') format('svg');
font-weight: normal;
font-style: normal;
}
.handwrite {
font-family: 'ReklameScriptRegular';
-webkit-font-smoothing: antialiased;
}
.style-transparent-choice {
position: relative;
}
.style-transparent-choice .aux {
border-color: #4fb0ae;
}
.style-transparent-choice .aux,
.style-transparent-choice .aux div {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
.style-transparent-choice .aux img {
width: 100%;
height: 100%;
}
.style-transparent-choice .dark {
display: none;
}
.style-transparent-choice.step5 .dark {
display: block;
}
.style-transparent-choice.step5 .light {
display: none;
}
.style-transparent-choice.step0 .aux img {
-khtml-opacity: 0.3;
-moz-opacity: 0.3;
opacity: 0.3;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}
.style-transparent-choice.step1 .aux img {
-khtml-opacity: 0.4;
-moz-opacity: 0.4;
opacity: 0.4;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}
.style-transparent-choice.step2 .aux img {
-khtml-opacity: 0.5;
-moz-opacity: 0.5;
opacity: 0.5;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
.style-transparent-choice.step3 .aux img {
-khtml-opacity: 0.6;
-moz-opacity: 0.6;
opacity: 0.6;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}
.style-transparent-choice.step4 .aux img {
-khtml-opacity: 0.6;
-moz-opacity: 0.6;
opacity: 0.6;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}
.style-transparent-choice.step5 .aux img {
-khtml-opacity: 0.6;
-moz-opacity: 0.6;
opacity: 0.6;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}
.style-transparent-choice .bg {
z-index: 2;
background: #4fb0ae;
-khtml-opacity: 0.05;
-moz-opacity: 0.05;
opacity: 0.05;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
}
.style-transparent-choice .bd {
z-index: 4;
border: 1px solid rgba(79, 176, 174, 0.6);
}
.style-transparent-choice.without-padding .bd {
border-left: none;
border-radius: 0;
-webkit-border-radius: 0;
-moz-border-radius: 0;
}
.style-transparent-choice.without-padding.first .bd {
border-left-style: solid;
border-left-width: 1px;
border-color: rgba(79, 176, 174, 0.6);
}
.style-transparent-choice.without-padding.first .bd,
.style-transparent-choice.without-padding.first .background,
.style-transparent-choice.without-padding.first .inset {
border-radius: 2px 0 0 2px;
-webkit-border-radius: 2px 0 0 2px;
-moz-border-radius: 2px 0 0 2px;
}
.style-transparent-choice.without-padding.last .bd,
.style-transparent-choice.without-padding.last .background,
.style-transparent-choice.without-padding.last .inset {
border-radius: 0 2px 2px 0;
-webkit-border-radius: 0 2px 2px 0;
-moz-border-radius: 0 2px 2px 0;
}
.style-transparent-choice .tick {
display: none;
position: absolute;
right: 7px;
top: 50%;
margin-top: -10px;
font-size: 21px;
font-family: typeIconFont;
}
.style-transparent-choice .tick:before {
content: "H";
}
.style-transparent-choice.selected .tick {
display: block;
}
.style-transparent-choice.selected .bd {
border-width: 2px;
-khtml-opacity: 1;
-moz-opacity: 1;
opacity: 1;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.style-transparent-choice.selected .overlay {
-khtml-opacity: 0.03;
-moz-opacity: 0.03;
opacity: 0.03;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=3)";
display: block;
background-color: #4fb0ae;
}
.style-transparent-choice.selected .letter {
background: #4fb0ae;
color: #ffffff !important;
}
.style-transparent-choice.selected .tooltip-key {
display: none;
}
.style-transparent-choice .overlay {
background-color: #000000;
background-color: rgba(0, 0, 0, 0);
z-index: 1;
}
.style-transparent-choice.step0 .overlay {
background-color: #000000;
background-color: rgba(0, 0, 0, 0);
}
.style-transparent-choice.step1 .overlay,
.style-transparent-choice.step2 .overlay,
.style-transparent-choice.step3 .overlay,
.style-transparent-choice.step4 .overlay,
.style-transparent-choice.step5 .overlay {
background-color: #ffffff;
background-color: rgba(255, 255, 255, 0);
}
.style-transparent-choice.pre-selected .bd,
.style-transparent-choice.active .bd {
-khtml-opacity: 1;
-moz-opacity: 1;
opacity: 1;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.style-transparent-choice.pre-selected .bg,
.style-transparent-choice.active .bg {
-khtml-opacity: 0.2;
-moz-opacity: 0.2;
opacity: 0.2;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
}
.style-transparent-choice:hover .no-hover .overlay {
display: none;
}
.style-transparent-choice .line {
position: absolute;
height: 10px;
bottom: -10px;
width: 1px;
border-left: 1px solid #000000;
left: 50%;
-khtml-opacity: 0.6;
-moz-opacity: 0.6;
opacity: 0.6;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}
.color-primary {
color: #3d3d3d;
}
.color-secondary {
color: #4fb0ae;
}
.layout-columns {
display: table;
width: 100%;
padding: 0;
margin: 0;
table-layout: fixed;
}
.layout-columns > li {
display: table-cell;
width: 2%;
word-break: break-word;
}
.layout-float {
padding: 0;
margin: 0;
}
.layout-float > li {
list-style: none !important;
display: block;
float: left;
text-align: center;
margin-right: 15px;
}
.layout-thee-columns > li {
padding-top: 17px;
padding-bottom: 17px;
word-break: break-word;
}
.layout-thee-columns > li.first {
padding-right: 10px;
}
.layout-thee-columns > li.third {
padding-left: 10px;
}
.layout-float-left {
float: left;
margin-right: 10px;
}
.layout-float-right {
float: right;
margin-left: 10px;
}
.layout-fixed-width-200 {
width: 200px;
}
.text-align-left {
text-align: left;
}
.text-align-center {
text-align: center;
}
.text-align-right {
text-align: right;
}
.text-antialiased {
-webkit-font-smoothing: antialiased;
}
.text-subpixel-antialiased {
-webkit-font-smoothing: subpixel-antialiased;
}
.text-size-s {
font-size: 12px;
}
@media only screen and (min-width: 800px) {
.text-size-s {
font-size: 14px;
}
}
.text-size-m {
font-size: 13px;
}
@media only screen and (min-width: 800px) {
.text-size-m {
font-size: 15px;
}
}
.text-size-xl {
font-size: 15px;
}
@media only screen and (min-width: 800px) {
.text-size-xl {
font-size: 22px;
}
}
.choice-square {
text-align: center;
cursor: pointer;
}
.choice-square .choice-wrapper {
position: relative;
display: block;
padding: 20px 0;
}
.choice-square .label {
position: relative;
z-index: 1;
color: #4fb0ae;
}
.report .choice-square .label {
color: #4fb0ae;
}
.choice-square.preselected {
background-color: rgba(79, 176, 174, 0.15);
}
.choice-square.checked .label {
color: #000000;
}
.choice-square.checked .background {
position: absolute;
z-index: 0;
font-weight: bold;
background-color: #4fb0ae;
top: 1px;
bottom: 1px;
left: 0;
right: 1px;
}
.choice-square.checked.step0 .background,
.choice-square.checked.step1 .background {
top: 0;
bottom: 0;
left: -1px;
right: 0;
}
.choice-square .line {
display: none;
}
.choice-square .level {
position: absolute;
background-color: rgba(79, 176, 174, 0.4);
bottom: 0;
left: 0;
right: 0;
}
/* ======= default browser stylesheet ====== */
.primaryColor {
color: #3d3d3d;
}
.secondaryColor {
color: #4fb0ae;
}
.buttonColor {
color: #4fb0ae;
}
.barColor {
color: #4fb0ae;
}
.backgroundColor {
background-color: #ffffff;
}
.fontFamily {
font-family: Arial, sans-serif;
}
.backgroundImage {
background-image: 'none';
}
.keyboard-icon {
font-family: 'keyboard';
color: rgba(79, 176, 174, 0.4);
position: absolute;
}
.keyboard-icon.hidden {
display: none;
}
.overlayOpacity {
-khtml-opacity: 0;
-moz-opacity: 0;
opacity: 0;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.persistent.overlayColor {
position: absolute;
height: 100%;
width: 100%;
top: 0;
left: 0;
z-index: 1;
}
.persistent.background {
position: absolute;
bottom: 0;
left: 0;
right: 0;
}
.overlayColor {
background-color: #ffffff;
}
body {
padding: 16px;
margin: 0;
}
#background {
position: fixed;
width: 100%;
height: 100%;
z-index: 1;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-image: 'none';
background-color: #ffffff;
}
#background div {
position: absolute;
height: 100%;
width: 100%;
top: 0;
}
.fullscreen #background {
background-size: cover;
}
.repeat #background {
background-repeat: repeat;
}
.no-repeat #background {
background-repeat: no-repeat;
}
#reports {
display: block;
position: relative;
z-index: 2;
margin: 20px auto;
max-width: 800px;
text-align: left;
line-height: 100%;
font-family: Arial, sans-serif;
-webkit-font-smoothing: antialiased;
}
#reports .btreport {
-khtml-opacity: 0.2;
-moz-opacity: 0.2;
opacity: 0.2;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
position: absolute;
top: 0;
border-top: 1px solid;
width: 100%;
}
#reports ul {
margin: 0;
padding: 0;
list-style: none;
}
#reports ul li.list {
padding: 10px 0 25px;
-khtml-opacity: 0.4;
-moz-opacity: 0.4;
opacity: 0.4;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}
#reports ul li.list.focus {
-khtml-opacity: 1;
-moz-opacity: 1;
opacity: 1;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
#reports .widget .question {
font-size: 20px;
line-height: 140%;
padding-top: 18px;
padding-bottom: 8px;
color: #3d3d3d;
}
#reports .widget .description {
font-size: 14px;
padding-bottom: 10px;
font-weight: bold;
color: #3d3d3d;
-khtml-opacity: 0.8;
-moz-opacity: 0.8;
opacity: 0.8;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
#reports .widget .description span {
font-weight: normal;
-khtml-opacity: 0.7;
-moz-opacity: 0.7;
opacity: 0.7;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}
#reports .widget .attachment-wrapper {
padding-top: 15px;
}
#reports .widget.opened ul.choices-bar.rowbutton .open {
display: none;
}
#reports .widget.opened ul.choices-bar.rowbutton .close {
display: block;
}
#reports .widget.opened ul.choices-bar.rowbutton .percent {
-khtml-opacity: 0;
-moz-opacity: 0;
opacity: 0;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
-moz-transition: opacity ease-out 200ms 0;
-webkit-transition: opacity ease-out 200ms 0;
-o-transition: opacity ease-out 200ms 0;
transition: opacity ease-out 200ms 0;
}
#reports .widget ul.choices-bar {
margin: 10px 0;
width: 100%;
}
#reports .widget ul.choices-bar .number {
font-family: 'Arial';
}
#reports .widget ul.choices-bar.hide {
display: none;
margin-top: -10px;
}
#reports .widget ul.choices-bar.rowbutton {
cursor: pointer;
margin-top: -10px;
}
#reports .widget ul.choices-bar.rowbutton .label {
font-size: 16px;
padding: 11px 10px 10px;
color: #3d3d3d;
}
#reports .widget ul.choices-bar.rowbutton .open {
display: block;
}
#reports .widget ul.choices-bar.rowbutton .close {
display: none;
}
#reports .widget ul.choices-bar.rowbutton .right {
position: absolute;
right: 0;
}
#reports .widget ul.choices-bar.rowbutton .bd:hover {
-khtml-opacity: 0.5;
-moz-opacity: 0.5;
opacity: 0.5;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
-moz-transition: opacity ease-out 200ms 0;
-webkit-transition: opacity ease-out 200ms 0;
-o-transition: opacity ease-out 200ms 0;
transition: opacity ease-out 200ms 0;
}
#reports .widget ul.choices-bar li {
width: 100%;
position: relative;
display: -moz-inline-stack;
display: inline-block;
vertical-align: top;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
zoom: 1;
margin: 6px 0;
list-style: none;
}
#reports .widget ul.choices-bar li .bdindex {
position: absolute;
top: 0;
bottom: 0;
left: 0;
border-right: 1px solid;
width: 38px;
-khtml-opacity: 0.2;
-moz-opacity: 0.2;
opacity: 0.2;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
}
#reports .widget ul.choices-bar li .number {
position: absolute;
font-size: 12px;
width: 38px;
text-align: center;
-khtml-opacity: 0.5;
-moz-opacity: 0.5;
opacity: 0.5;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
font-weight: bold;
top: 50%;
margin-top: -8px;
color: #4fb0ae;
border-color: #4fb0ae;
}
#reports .widget ul.choices-bar li .number.nimage {
position: absolute;
-khtml-opacity: 1;
-moz-opacity: 1;
opacity: 1;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
width: auto;
height: auto;
margin-top: 0;
top: auto;
bottom: 0;
border-radius: 2px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
background-color: #ffffff;
}
#reports .widget ul.choices-bar li .number.nimage span {
position: relative;
top: 0;
left: 0;
right: 0;
bottom: 0;
-khtml-opacity: 0.3;
-moz-opacity: 0.3;
opacity: 0.3;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
padding: 0px 3px 0px 4px;
border-right: 1px solid;
border-top: 1px solid;
border-radius: 2px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
}
#reports .widget ul.choices-bar li .image {
position: absolute;
padding: 4px;
width: 38px;
height: 100%;
top: 0;
bottom: 0;
text-align: center;
color: #4fb0ae;
border-color: #4fb0ae;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
}
#reports .widget ul.choices-bar li .image img {
max-width: 30px;
max-height: 30px;
position: relative;
}
#reports .widget ul.choices-bar li .label {
font-size: 17px;
display: inline-block;
padding: 11px 0 10px 10px;
position: relative;
left: 38px;
color: #4fb0ae;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
}
#reports .widget ul.choices-bar li .percent {
float: right;
padding: 11px 10px 10px;
font-size: 20px;
font-weight: bold;
color: #4fb0ae;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
}
#reports .widget ul.choices-bar li .percent span {
-khtml-opacity: 0.5;
-moz-opacity: 0.5;
opacity: 0.5;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
font-weight: normal;
}
#reports .widget ul.choices-bar li .border {
z-index: 2;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
-khtml-opacity: 0.2;
-moz-opacity: 0.2;
opacity: 0.2;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
border: 1px solid;
border-radius: 2px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25), inset 0 1px 0 #ffffff;
-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25), inset 0 1px 0 #ffffff;
box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25), inset 0 1px 0 #ffffff;
}
#reports .widget ul.choices-bar li .bd {
z-index: 2;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
-khtml-opacity: 0.2;
-moz-opacity: 0.2;
opacity: 0.2;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
border-radius: 2px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
}
#reports .widget ul.choices-bar li .bd img {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
z-index: 1;
-ms-filter: "progid:DXImageTransfo";
width: 100%;
height: 100%;
}
#reports .widget ul.choices-bar li .aux {
position: absolute;
top: 0;
left: 38px;
right: 0;
bottom: 0;
overflow: hidden;
}
#reports .widget ul.choices-bar li .aux .percent {
overflow: hidden;
right: 0%;
position: relative;
z-index: 2;
top: 0;
left: 18px;
bottom: 0;
width: 100%;
text-align: right;
box-sizing: border-box;
color: #edf7f7;
}
#reports .widget ul.choices-bar li .aux .bg {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
width: 0%;
background-color: #4fb0ae;
}
#reports .widget ul.choices-bar li .aux .bg .label {
position: relative;
left: 0;
z-index: 2;
width: 100%;
height: 100%;
overflow: hidden;
color: #edf7f7;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
}
#reports .widget .expandable-content {
display: none;
}
#reports .widget .button-expand {
color: #3d3d3d;
display: block;
font-size: 14px;
text-decoration: none;
margin-top: 14px;
}
#reports .widget .button-expand span {
font-size: 12px;
}
#reports .widget .button-expand:hover {
color: #4fb0ae;
}
#reports .widget div.rating {
width: 100%;
position: relative;
}
#reports .widget div.rating .icons {
color: #4fb0ae;
}
#reports .widget div.rating .icons .icon,
#reports .widget div.rating .icons .icon-back {
display: inline-block;
line-height: 100%;
letter-spacing: 3px;
padding: 10px 0;
}
#reports .widget div.rating .icons .average {
display: block;
font-size: 20px;
font-weight: bold;
letter-spacing: 0px;
font-family: Arial;
line-height: 18px;
}
#reports .widget div.rating .icons .average div {
display: inline-block;
}
@media only screen and (min-width: 800px) {
#reports .widget div.rating .icons .average div {
display: block;
}
}
#reports .widget div.rating .icons .average span {
font-size: 14px;
-khtml-opacity: 0.8;
-moz-opacity: 0.8;
opacity: 0.8;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
font-weight: normal;
}
@media only screen and (min-width: 800px) {
#reports .widget div.rating .icons .average {
display: inline-block;
margin-left: 15px;
}
}
#reports .widget div.rating .icons .icons-back {
position: absolute;
top: 0;
white-space: nowrap;
overflow: hidden;
}
#reports .widget .rating.icon-star .icon {
font-family: typeIconFont;
}
#reports .widget .rating.icon-star .icon:before {
content: "a";
}
#reports .widget .rating.icon-star .icon-back {
font-family: typeIconFont;
text-transform: uppercase;
}
#reports .widget .rating.icon-star .icon-back:before {
content: "A";
}
#reports .widget .rating.icon-heart .icon {
font-family: typeIconFont;
}
#reports .widget .rating.icon-heart .icon:before {
content: "b";
}
#reports .widget .rating.icon-heart .icon-back {
font-family: typeIconFont;
text-transform: uppercase;
}
#reports .widget .rating.icon-heart .icon-back:before {
content: "B";
}
#reports .widget .rating.icon-user .icon {
font-family: typeIconFont;
}
#reports .widget .rating.icon-user .icon:before {
content: "c";
}
#reports .widget .rating.icon-user .icon-back {
font-family: typeIconFont;
text-transform: uppercase;
}
#reports .widget .rating.icon-user .icon-back:before {
content: "C";
}
#reports .widget .rating.icon-up .icon {
font-family: typeIconFont;
}
#reports .widget .rating.icon-up .icon:before {
content: "d";
}
#reports .widget .rating.icon-up .icon-back {
font-family: typeIconFont;
text-transform: uppercase;
}
#reports .widget .rating.icon-up .icon-back:before {
content: "D";
}
#reports .widget .rating.icon-crown .icon {
font-family: typeIconFont;
}
#reports .widget .rating.icon-crown .icon:before {
content: "e";
}
#reports .widget .rating.icon-crown .icon-back {
font-family: typeIconFont;
text-transform: uppercase;
}
#reports .widget .rating.icon-crown .icon-back:before {
content: "E";
}
#reports .widget .rating.icon-cat .icon {
font-family: typeIconFont;
}
#reports .widget .rating.icon-cat .icon:before {
content: "f";
}
#reports .widget .rating.icon-cat .icon-back {
font-family: typeIconFont;
text-transform: uppercase;
}
#reports .widget .rating.icon-cat .icon-back:before {
content: "F";
}
#reports .widget .rating.icon-dog .icon {
font-family: typeIconFont;
}
#reports .widget .rating.icon-dog .icon:before {
content: "n";
}
#reports .widget .rating.icon-dog .icon-back {
font-family: typeIconFont;
text-transform: uppercase;
}
#reports .widget .rating.icon-dog .icon-back:before {
content: "N";
}
#reports .widget .rating.icon-circle .icon {
font-family: typeIconFont;
}
#reports .widget .rating.icon-circle .icon:before {
content: "o";
}
#reports .widget .rating.icon-circle .icon-back {
font-family: typeIconFont;
text-transform: uppercase;
}
#reports .widget .rating.icon-circle .icon-back:before {
content: "O";
}
#reports .widget .rating.icon-flag .icon {
font-family: typeIconFont;
}
#reports .widget .rating.icon-flag .icon:before {
content: "p";
}
#reports .widget .rating.icon-flag .icon-back {
font-family: typeIconFont;
text-transform: uppercase;
}
#reports .widget .rating.icon-flag .icon-back:before {
content: "P";
}
#reports .widget .rating.icon-droplet .icon {
font-family: typeIconFont;
}
#reports .widget .rating.icon-droplet .icon:before {
content: "q";
}
#reports .widget .rating.icon-droplet .icon-back {
font-family: typeIconFont;
text-transform: uppercase;
}
#reports .widget .rating.icon-droplet .icon-back:before {
content: "Q";
}
#reports .widget .rating.icon-tick .icon {
font-family: typeIconFont;
}
#reports .widget .rating.icon-tick .icon:before {
content: "r";
}
#reports .widget .rating.icon-tick .icon-back {
font-family: typeIconFont;
text-transform: uppercase;
}
#reports .widget .rating.icon-tick .icon-back:before {
content: "R";
}
#reports .widget .rating.icon-lightbulb .icon {
font-family: typeIconFont;
}
#reports .widget .rating.icon-lightbulb .icon:before {
content: "s";
}
#reports .widget .rating.icon-lightbulb .icon-back {
font-family: typeIconFont;
text-transform: uppercase;
}
#reports .widget .rating.icon-lightbulb .icon-back:before {
content: "S";
}
#reports .widget .rating.icon-trophy .icon {
font-family: typeIconFont;
}
#reports .widget .rating.icon-trophy .icon:before {
content: "t";
}
#reports .widget .rating.icon-trophy .icon-back {
font-family: typeIconFont;
text-transform: uppercase;
}
#reports .widget .rating.icon-trophy .icon-back:before {
content: "T";
}
#reports .widget .rating.icon-cloud .icon {
font-family: typeIconFont;
}
#reports .widget .rating.icon-cloud .icon:before {
content: "u";
}
#reports .widget .rating.icon-cloud .icon-back {
font-family: typeIconFont;
text-transform: uppercase;
}
#reports .widget .rating.icon-cloud .icon-back:before {
content: "U";
}
#reports .widget .rating.icon-thunderbolt .icon {
font-family: typeIconFont;
}
#reports .widget .rating.icon-thunderbolt .icon:before {
content: "v";
}
#reports .widget .rating.icon-thunderbolt .icon-back {
font-family: typeIconFont;
text-transform: uppercase;
}
#reports .widget .rating.icon-thunderbolt .icon-back:before {
content: "V";
}
#reports .widget .rating.icon-pencil .icon {
font-family: typeIconFont;
}
#reports .widget .rating.icon-pencil .icon:before {
content: "w";
}
#reports .widget .rating.icon-pencil .icon-back {
font-family: typeIconFont;
text-transform: uppercase;
}
#reports .widget .rating.icon-pencil .icon-back:before {
content: "W";
}
#reports .widget .rating.icon-skull .icon {
font-family: typeIconFont;
}
#reports .widget .rating.icon-skull .icon:before {
content: "x";
}
#reports .widget .rating.icon-skull .icon-back {
font-family: typeIconFont;
text-transform: uppercase;
}
#reports .widget .rating.icon-skull .icon-back:before {
content: "X";
}
#reports .widget.step0 .border,
#reports .widget.step0 .bdindex {
border-color: rgba(0, 0, 0, 0.8) !important;
}
#reports .widget.step1 .border,
#reports .widget.step1 .bdindex {
border-color: rgba(0, 0, 0, 0.4) !important;
}
#reports .widget.step2 .border,
#reports .widget.step2 .bdindex {
border-color: rgba(0, 0, 0, 0.4) !important;
}
#reports .widget.step3 .border,
#reports .widget.step3 .bdindex {
border-color: rgba(0, 0, 0, 0.4) !important;
}
#reports .widget.step5 .border,
#reports .widget.step4 .border {
-khtml-opacity: 0.4 !important;
-moz-opacity: 0.4 !important;
opacity: 0.4 !important;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)" !important;
border: 1px solid rgba(255, 255, 255, 0.5) !important;
border-top: 1px solid rgba(255, 255, 255, 0.8) !important;
-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25), inset 0 1px 3px rgba(255, 255, 255, 0.3) !important;
-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25), inset 0 1px 3px rgba(255, 255, 255, 0.3) !important;
box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25), inset 0 1px 3px rgba(255, 255, 255, 0.3) !important;
}
#reports .widget.step5 .bdindex,
#reports .widget.step4 .bdindex {
border-color: rgba(255, 255, 255, 0.9) !important;
}
#reports .widget.step5.rowbutton .bd:hover,
#reports .widget.step4.rowbutton .bd:hover {
-khtml-opacity: 1 !important;
-moz-opacity: 1 !important;
opacity: 1 !important;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
}
.footer {
position: fixed;
bottom: 0;
left: 0;
right: 0;
width: 100%;
height: 60px;
z-index: 5;
overflow: hidden;
border-top-style: solid;
border-top-width: 1px;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: -moz-none;
-ms-user-select: none;
user-select: none;
}
.footer.step0 {
border-color: rgba(0, 0, 0, 0.2);
-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.footer.step0 .overlay {
background-color: #000000;
-khtml-opacity: 0.02;
-moz-opacity: 0.02;
opacity: 0.02;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2)";
}
.footer.step1 {
border-color: rgba(0, 0, 0, 0.25);
-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.footer.step1 .overlay {
background-color: #000000;
-khtml-opacity: 0.04;
-moz-opacity: 0.04;
opacity: 0.04;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=4)";
}
.footer.step2 {
border-color: rgba(0, 0, 0, 0.25);
-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}
.footer.step2 .overlay {
background-color: #000000;
-khtml-opacity: 0.05;
-moz-opacity: 0.05;
opacity: 0.05;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
}
.footer.step3 {
border-color: rgba(0, 0, 0, 0.25);
-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.footer.step3 .overlay {
background-color: #000000;
-khtml-opacity: 0.05;
-moz-opacity: 0.05;
opacity: 0.05;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
}
.footer.step4 {
border-color: rgba(0, 0, 0, 0.4);
-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.45);
-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.45);
box-shadow: 0 0 3px rgba(0, 0, 0, 0.45);
}
.footer.step4 .overlay {
background-color: #000000;
-khtml-opacity: 0.08;
-moz-opacity: 0.08;
opacity: 0.08;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=8)";
}
.footer.step5 {
-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.45);
-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.45);
box-shadow: 0 0 3px rgba(0, 0, 0, 0.45);
border-top: 1px solid rgba(255, 255, 255, 0.15);
}
.footer.step5 .overlay {
background-color: #ffffff;
-khtml-opacity: 0.06;
-moz-opacity: 0.06;
opacity: 0.06;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=6)";
}
.footer .background {
z-index: 1;
height: 100%;
}
.footer .by {
position: absolute;
right: 119px;
top: 17px;
z-index: 2;
display: none;
}
@media only screen and (min-width: 500px) {
.footer .by {
display: block;
}
}
.footer .by .button {
text-decoration: none;
font-family: Helvetica, Arial;
font-size: 11px;
padding: 3px 6px;
height: 16px;
line-height: 17px;
font-weight: normal;
}
.footer .by .button:active {
line-height: 18px !important;
}
.footer .touch-text {
position: relative;
width: 100%;
padding: 0 20px;
top: 20px;
z-index: 4;
text-align: center;
-khtml-opacity: 0.5;
-moz-opacity: 0.5;
opacity: 0.5;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
font-size: 16px;
font-family: Helvetica, Arial;
-webkit-font-smoothing: subpixel-antialiased;
}
.footer .touch-text a {
color: inherit;
text-decoration: none;
font-weight: bold;
border: none;
}
.footer .touch-text a:hover {
text-decoration: underline;
}
.footer .overlay {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 2;
}
.footer .nav-buttons {
position: absolute;
z-index: 2;
right: 8px;
top: 8px;
}
.footer .nav-buttons .button-wrapper.up {
top: 8px;
margin-right: 2px;
}
.footer .nav-buttons .button-wrapper.down {
top: 8px;
}
.scroll-overlay {
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: #cccccc;
display: none;
z-index: 4;
}
.proportion .footer .content #progress,
.percent .footer .content #progress {
visibility: visible;
-khtml-opacity: 1;
-moz-opacity: 1;
opacity: 1;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.button-wrapper {
display: -moz-inline-stack;
display: inline-block;
vertical-align: top;
zoom: 1;
*display: inline;
}
.button-wrapper.loading #spin {
left: 50%;
text-align: center;
width: 20px;
position: absolute;
top: 50%;
}
.button.nav {
display: inline-block;
cursor: default;
background-color: #4fb0ae;
width: auto;
height: 35px;
line-height: 30px;
padding: 5px 12px 0 12px;
font-size: 19px;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
text-align: center;
font-weight: bold;
max-width: 610px;
overflow: hidden;
-moz-transition: background-color ease-out 100ms 0;
-webkit-transition: background-color ease-out 100ms 0;
-o-transition: background-color ease-out 100ms 0;
transition: background-color ease-out 100ms 0;
color: #edf7f7;
border-top: 1px solid #479e9d;
border-left: 1px solid #367776;
border-right: 1px solid #367776;
border-bottom: 1px solid #24504f;
box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.35);
-webkit-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.35);
-moz-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.35);
box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.35), 0 2px 2px rgba(0, 0, 0, 0), transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
-webkit-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.35), 0 2px 2px rgba(0, 0, 0, 0), transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
-moz-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.35), 0 2px 2px rgba(0, 0, 0, 0), transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 1px;
}
.button.nav.enabled {
cursor: pointer;
}
.focus .button.nav:hover.enabled,
.focus .button.nav.hover.enabled,
.footer .button.nav:hover.enabled,
.footer .button.nav.enabled.hover,
.screen .button.nav:hover {
/*background-image: none;
.background-color-by-lightness(@button-color);
.transition(all,150ms);
.box-shadow(none);*/

-moz-transition: background-color ease-out 100ms 0;
-webkit-transition: background-color ease-out 100ms 0;
-o-transition: background-color ease-out 100ms 0;
transition: background-color ease-out 100ms 0;
background-color: #72c0be;
cursor: pointer;
}
.focus .button.nav:active.enabled,
.footer .button.nav:active.enabled,
.button.nav.selected,
.button.nav.active.enabled {
-webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.8);
-moz-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.8);
box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.8);
line-height: 32px;
background-color: #72c0be;
border: none;
border-bottom: 1px solid #2f6a68;
margin: 1px;
margin-bottom: 0;
}
.focus .button.nav:active.enabled span,
.footer .button.nav:active.enabled span,
.button.nav.selected span,
.button.nav.active.enabled span {
margin-top: 1px;
}
.button.nav.disabled {
-khtml-opacity: 0.5;
-moz-opacity: 0.5;
opacity: 0.5;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
-moz-transition: all ease-out 0 0;
-webkit-transition: all ease-out 0 0;
-o-transition: all ease-out 0 0;
transition: all ease-out 0 0;
}
.button.nav .reload {
background: url('https://s3-eu-west-1.amazonaws.com/typeform-media-static/reload-black.png') no-repeat;
width: 24px;
margin-top: 7px;
height: 30px;
position: relative;
display: block;
float: left;
margin-right: 17px;
top: 1px;
-khtml-opacity: 0.4;
-moz-opacity: 0.4;
opacity: 0.4;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}
.button.nav .tick {
background: url('https://s3-eu-west-1.amazonaws.com/typeform-media-static/tick-black.png') no-repeat;
position: relative;
display: block;
float: right;
width: 32px;
height: 30px;
margin: 9px 25px 0;
-khtml-opacity: 0.4;
-moz-opacity: 0.4;
opacity: 0.4;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}
.button.nav .next {
font-family: typeIconFont;
display: -moz-inline-stack;
display: inline-block;
vertical-align: top;
zoom: 1;
*display: inline;
font-size: 27px;
width: 20px;
line-height: 31px;
margin-left: 2px;
}
.button.nav .next:before {
content: "I";
}
.button.nav .confirm {
font-family: typeIconFont;
display: -moz-inline-stack;
display: inline-block;
vertical-align: top;
zoom: 1;
*display: inline;
font-size: 20px;
width: 16px;
line-height: 28px;
margin-left: 9px;
}
.button.nav .confirm:before {
content: "H";
}
.button.nav .up {
display: block;
font-family: typeIconFont;
font-size: 27px;
width: 21px;
line-height: 30px;
margin-left: -4px;
margin-right: 2px;
text-align: left;
font-weight: normal;
}
.button.nav .up:before {
content: "K";
}
.button.nav .down {
display: block;
font-family: typeIconFont;
font-size: 27px;
width: 21px;
line-height: 30px;
margin-left: -4px;
margin-right: 2px;
text-align: left;
font-weight: normal;
}
.button.nav .down:before {
content: "L";
}
.component {
margin-top: 20px;
}